<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Reserve a grave for later use">
  <link rel="manifest" href="./assets/manifest.json">
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Sans:wght@200;300;400;500;900&family=Quicksand&display=swap"
    rel="stylesheet">
  <title>Restlater | Reserve your own future</title>
</head>

<body>
  <div class="skip-link-container">
    <a href="#reason" class="skip-link">Skip to Content</a>
  </div>
  <header>
    <nav>
      <a href="/" class='home-logo'>
        <img src="./images/logo.png" height='37px' alt="Restlater logo">
        <p>RESTLATER</p>
      </a>
      <div class='nav-right'>
        <a href="/">HOME</a>
        <a href="#/about">ABOUT</a>
        <a class="newLogin" hidden id="user-name"></a>
        <a class="newLogin" id="login" href="#/login">LOGIN</a>
        <!-- <a class="newLogin" hidden id="logout">LOGOUT</a> -->
      </div>
      <div id="hamburger"><a href="" aria-label="hamburger">☰</a></div>
    </nav>
  </header>

  <main>
  </main>

  <aside>
    <a href='#/dashboard' id='dashboard'>DASHBOARD</a>
  </aside>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>