<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Sans:wght@200;300;400;900&family=Quicksand&display=swap" rel="stylesheet">

  <title>Restlater | Reserve your own future</title>
</head>
<body>
  <header>
    <nav>
      <a href="/" class='home-logo'>
        <img src="./images/logo.png" height='37px' alt="Restlater logo">
        <p>RESTLATER</p>
      </a>
      <div class='nav-right'>
        <a href="/">HOME</a>
        <a href="/login">LOGIN</a>
        <a href="/about">ABOUT</a>
      </div>
      <div id="hamburger"><a href="" aria-label="hamburger">☰</a></div>
    </nav>
  </header>

  <main>

  </main>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>