* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/*navigation*/
a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem 1.5rem;
  height: 5rem;
  background-color: #3DB2FF;
  box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #fff;
  transition: filter .2s ease-in;
}

nav>a {
  font-size: 2rem;
  font-family: 'League Gothic', sans-serif;
}

nav a:hover {
  filter: opacity(.5);
}

.nav-right>* {
  font-size: 1rem;
  margin: 1.75rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  padding: .7rem 0;
  letter-spacing: 1px;
}

nav h1 {
  color: #fff;
}

/*sidebar*/
.sidebar {
  position: absolute;
  width: 278px;
  height: calc(100% - 5rem);
  background: #3DB2FF;
  box-shadow: 6px 0px 9px rgba(0, 0, 0, 0.1);
}


.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;

}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu {
  margin-top: 1rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

/*sidebar submenu*/
.submenu {
  position: static;
  display: none;
}

.submenu li a {
  position: relative;
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

#sub1 {
  position: absolute;
  margin-top: 15px;
  right: 4rem;
  transform: translateY(-50%);
  transition: 0.45;
}

#sub1:hover {
  transform: translateY(-50%) rotate(-180deg);
}

/*Search*/
.search {
  position: absolute;
  width: 600px;
  height: 39px;
  left: 382px;
  top: 120px;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;

}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}

/*filter*/
.filter {
  position: absolute;
  width: 116px;
  height: 42px;
  left: 383px;
  top: 185px;
  background: #3DB2FF;
  border-radius: 10px;
}

.filter span {
  position: absolute;
  padding-left: .5rem;
  padding-top: .2rem;
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
}

#sub2 {
  position: absolute;
  margin-top: 20px;
  right: 1rem;
  transform: translateY(-50%);
  transition: 0.45;
  color: #fff;
}

#sub2:hover {
  transform: translateY(-50%) rotate(-180deg);
}

/*form*/
.form {
  position: absolute;
  width: 700px;
  height: 60vh;
  left: 382px;
  top: 244px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
}