@media screen and (max-width: 570px) {
  nav {
    justify-content: center;
  }
  .nav-right {
    position: absolute;
    height: fit-content;
    background-color: #3DB2FF;
    top: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    z-index: 1;
    text-align: center;
    padding: 1rem;
    transition: transform .3s ease-in-out;
    transform: translateY(-100%);
  }
  .hamburger-active {
    transform: translateY(0);
  }
  .disable-main {
    filter: brightness(0.5);
  }
  .nav-right > * {
    margin: 0;
    width: 100%;
  }
  .home-logo > * {
    margin: .15em;
  }
  .home-logo img {
    display: block;
  }
  #hamburger {
    display: block;
    position: absolute;
    right: 0;
    font-size: 2rem;
  }
  #hamburger a {
    padding: .5rem .8rem;
  }
  main {
    transition: filter .3s ease-in-out;
    filter: brightness(1);
  }
  .section-title {
    width: 100%;
  }
  #reason, #blok {
    margin: 3rem 1rem;
  }
  #blok-container {
    text-align: center;
  }
  #user-profile {
    padding: 0;
  }
  #user-profile-content > h2 {
    font-size: 1rem;
  }
  #dashboard-main {
    padding: .5rem;
  }
  #dashboard-container {
    flex-direction: column-reverse;
    height: auto;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  #hero img{
    display: none;
  }
  #right-hero {
    flex-basis: 100%;
    text-align: center;
    padding: 1rem 1rem;
  }
  #right-hero h1 {
    font-size: 1.5rem;
  }
  .blok-item:last-child {
    grid-column-end: auto;
  }
  #contact {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .contact-content {
    margin: 1rem;
  }
  .contact-content h3 {
    font-size: 1.5rem;
  }
  .contact-content h4 {
    font-size: 1rem;
  }
  .triangle {
    border-width: 173.2px 100px 0 100px;
  }
  #slot-content, #slot-confirm {
    margin: 3rem 0;
  }
  .payment-profile-item *:first-child {
    flex-basis: 50%;
  }
  .popup-content {
    width: 100%;
    border-radius: 0;
  }
  #profile-lack {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 1300px) {
  #payment-container {
    margin: 3rem 10%;
  }
  #profile-container {
    margin: 1rem 10%;
  }
  #user-profile {
    flex-direction: column;
    margin : 3rem 0;
  }
  .profile-edit-button {
    position: relative;
    margin: 1rem auto;
  }
  #user-profile > img {
    display: none;
  }
}