* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFEDDA;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem 1.5rem;
  background-color: #3DB2FF;
}

nav a {
  color: #FFEDDA;
  transition: filter .2s ease-in;
}

nav > a {
  font-size: 2rem;
  font-family: 'League Gothic', sans-serif;
}

.home-logo {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-logo > * {
  margin: .15em;
}

.home-logo img {
  display: none;
}

nav a:hover {
  filter: opacity(.5);
}

.nav-right > * {
  font-size: 1rem;
  margin: 1.75rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  padding: .7rem 0;
  letter-spacing: 1px;
}

#hamburger {
  display: none;
}

#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  background-color: #3DB2FF;
  border: #3DB2FF 3px solid;
  padding: 3rem 0;
}

#right-hero {
  flex-basis: 50%;
  padding: 4rem 1rem;
  align-self: flex-start;
}

#right-hero h1 {
  font-family: 'Quicksand', sans-serif;
  color: #FFEDDA;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

#right-hero a {
  color: #FFEDDA;
  border: 1px solid #FFEDDA;
  padding: .6rem;
  font-family: 'Noto Sans', sans-serif;
  transition: all .2s ease-in-out;
}

#right-hero a:hover {
  background-color: #FFEDDA;
  color: #3DB2FF;
}
